<div class = "container-fiuld user">
  <div class = "rowss">
    <div class = "show-view">
      <div class = "user-view-box2">
        
        <div class = "update-content">
          <div class = "row">
            <%= label :room_name, "予約した部屋",class:"col-md-3" %>
            <div class = "col-md-9">
              <%= link_to (@resevation.room.room_name),room_path(@room) %>
            </div>
          </div>
        </div>
        
        <div class = "update-content">
          <div class = "row">
            <%= label :start_date, "開始日",class:"col-md-3" %>
            <div class = "col-md-9">
              <%= @resevation.start_date %>
            </div>
          </div>
        </div>
        
        <div class = "update-content">
          <div class = "row">
            <%= label :end_date, "終了日",class:"col-md-3" %>
            <div class = "col-md-9">
              <%= @resevation.end_date %>
            </div>
          </div>
        </div>
        
        <div class = "update-content">
          <div class = "row">
            <%= label :total_price, "価格",class:"col-md-3" %>
            <div class = "col-md-9">
              <%= number_to_currency(@resevation.total_price, :unit => "￥",strip_insignificant_zeros: true) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>