<div class = "container-fiuld room-new">
  <div class = "row">
    <div class = "col-lg-2 room-nav room-nav-pc d-lg-block d-none">
      <ul>
        <li class = "active"><%= link_to "基本情報",new_room_path %></li>
      </ul>
    </div>
    
    <div class = "col-lg-10 room-view">
      <div class = "room-view-box">
        <%= form_with model:@room, url: {controller: 'rooms', action: 'create' }, id:"new_room"  do |f| %>
          <div class = "update-content">
            <div class = "row">
              <h5>ルーム登録情報</h5>
            </div>
          </div>
          
          <div class = "update-content">
            <div class = "row">
              <%= f.label :ルーム名, {class: 'col-md-3 required-a'} %>
              <%= f.text_field :room_name,class:"form-control mb-4 col-md-9", rows: 50, placeholder: "ルーム名を入力",autofocus: true, autocomplete: "room_name" %>
            </div>
          </div>
          
          <div class = "update-content">
             <div class = "row">
              <%= f.label :ルーム紹介, {class: 'col-md-3 required-a'} %>
              <%= f.text_area :room_introduction,class:"form-control mb-4 col-md-9",placeholder: "ルーム説明を入力", autocomplete: "room_introduction" %>
            </div>
          </div>
          
          <div class = "update-content">
            <div class = "row">
              <%= f.label :料金, {class: 'col-md-3 required-a'} %>
              <%= f.number_field :price,class:"form-control mb-4 col-md-9",placeholder: "一日あたりの料金を入力", autocomplete: "price" %>
            </div>
          </div>
          
          <div class = "update-content">
            <div class = "row">
              <%= f.label :住所, {class: 'col-md-3 required-a'} %>
              <%= f.text_field :address,class:"form-control mb-4 col-md-9",placeholder: "住所を入力", autocomplete: "address" %>
            </div>
          </div>
          
          <div class = "update-content">
            <div class = "row">
              <%= f.label :ルーム画像,class:"col-md-3 required-a" %>
              <%= f.file_field:room_image,class:"mb-4 col-md-9" %>
            </div>
          </div>
          
          <div class = "update-content">
            <div class = "row">
              <%= f.submit "登録",class:"col-md-2 btn btn-primary mx-3" %>
            </div>
          </div>
          
        <% end %>
      </div>
    </div>
  </div>
</div>