<div class = "top">
  <div class = "top-main">
    <div class = "container">
      <div class = "row col-lg-6">
        <div class = "form-fream">
          <div class = "form-area">
            <p class = "form-area-title mb-4">Potepan Shareでまだ体験したことのない旅をしよう</p>
            <%= form_tag( search_rooms_path,  method: :get) do %>
              <%= text_field_tag :search,"", class:"form-control mb-4", placeholder: "東京" %>
              <%= submit_tag  '探す', name: nil, class:"form-control btn-primary mb-4" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class = "container">
    <div class = "panel-area m-5">
      <h1 class = "section-title">おすすめのエリア</h1>
      <div class = "row">
        <div class = "panel-item col-lg-3 col-6">
          <%= link_to controller: "rooms", action: "search", search: "東京"  do %>
          <%= image_tag "/assets/img_tokyo.jpg",class:"panel-image" %>
          <span>東京</span>
          <% end %>
        </div>
        <div class = "panel-item col-lg-3 col-6">
          <%= link_to controller: "rooms", action: "search", search: "大阪"  do %>
          <%= image_tag "/assets/img_osaka.jpg",class:"panel-image" %>
          <span>大阪</span>
          <% end %>
        </div>
        <div class = "panel-item col-lg-3 col-6">
          <%= link_to controller: "rooms", action: "search", search: "京都"  do %>
          <%= image_tag "/assets/img_kyoto.jpg",class:"panel-image" %>
          <span>京都</span>
          <% end %>
        </div>
        <div class = "panel-item col-lg-3 col-6">
          <%= link_to controller: "rooms", action: "search", search: "札幌市" do %>
          <%= image_tag "/assets/img_sapporo.jpg",class:"panel-image" %>
          <span>札幌</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>