<div class = "container device">
  <div class = "device_frame">
    <h2 class = "mb-3">アカウント編集</h2>
      <div class=  "device_inner">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:"edit_user" }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <div class = "form-group">
    <%= f.label :email,{class: 'user_email'} %><br />
    <%= f.email_field :email,class:"form-control", autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <div class = "form-group">
    <%= f.label :変更後パスワード（変更する場合のみ入力）,{class: 'user_password'} %> <br />
    <%= f.password_field :password,class:"form-control", autocomplete: "new-password" %>
    </div>
  </div>

  <div class="field">
    <div class = "form-group">
    <%= f.label :パスワード確認用（変更する場合のみ入力） %><br />
    <%= f.password_field :password_confirmation,class:"form-control", autocomplete: "new-password" %>
    </div>
  </div>

  <div class="field">
    <div class = "form-group">
    <%= f.label :current_password %> <br />
    <%= f.password_field :current_password,class:"form-control", autocomplete: "current-password" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "更新",class:"form-control btn-primary my-4" %>
  </div>
  
  <div class="actions">
    <%= link_to "戻る",:back,class:"btn btn-outline-secondary form-control" %>
  </div>
<% end %>
  
    </div>
  </div>
</div>