

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  <div class="container device">
    
    <div class="device_frame">
      
      <p class="my-4">新しいアカウントを作成</p>
      <%= render "users/shared/error_messages", resource: resource %>
      
      <div class="device_inner">
        
        <div class="field">
          <%= f.text_field :name,placeholder: "ユーザー名",autofocus: true, autocomplete: "name" %>
        </div>
  
        <div class="field">
          <%= f.email_field :email,placeholder: "メールアドレス", autocomplete: "email" %>
        </div>

        <div class="field">
          <% if @minimum_password_length %>
          <%= f.password_field :password,placeholder: "パスワード", autocomplete: "new-password" %>
          <% end %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation,placeholder: "パスワード確認", autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "新しいアカウントを作成" %>
        </div>
<% end %>

<%= render "users/shared/links" %>
      </div>
    </div>
  </div>
